.switch{
    height: 2rem;
    display: flex;
    border-style: solid;
    border-radius: 1.875rem;
    border-width: 0.064rem; 
    border-color:  rgb(3, 37, 65);
    align-items: center;
    position: relative;
    z-index: 1;
    cursor: pointer;
    transition: ease-in-out;
}
.switch_item{
    padding-top: 1rem;
    padding-bottom: 0.25rem; 
    padding-left: 1.25rem;
    padding-right: 1.25rem; 
    height: 2rem; 
    border-radius: 1.875rem; 
    transition: ease-in-out;
   
}
.switch_items{
    padding-top: 1rem;
    padding-bottom: 0.25rem; 
    padding-left: 1.25rem;
    padding-right: 1.25rem; 
    height: 2rem; 
    border-radius: 1.875rem;  
    transition: ease-in-out; 
}
.bkg_item{
    width: 5rem; 
    height: 2rem;   
    background-color: rgb(3, 37, 65);
    border-radius: 1.875rem;
    position: absolute;
    z-index: -1;
    transition: all ;
    transition-timing-function: 150ms;
    /* animation-duration: 150s; */
    transition: ease-in;
} 

.activecolor{
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-image: linear-gradient(to right, #c0fecf, #1ed5a9);  
    color: transparent;  
}